/*
Theme: Dark Night
Author: Michael Schmieding
Web site: http://www.slifer.de/
*/

table a, table, tbody, tfoot, tr, th, td, table caption {
	font-family: Verdana, arial, helvetica, sans-serif;
	background:#262b38;
	color:#fff;
	text-align:left;
	font-size:12px;
	valign:top;
}
table, table caption {
	border-left:3px solid #567;
	border-right:3px solid #000;
}
table {
	border-top:1px solid #567;
	border-bottom:3px solid #000;
	align:center;
}
table a {
	text-decoration:underline;
	font-weight:bold;
}
table a:visited {
	background:#262b38;
	color:#abc;
}
table a:hover {
	text-decoration:none;
	position:relative;
	top:1px;
	left:1px;
}
table caption {
	border-top:3px solid #567;
	border-bottom:1px solid #000;
	font-size:20px;
	font-weight:bold;
}
table, td, th {
	margin:0px;
	padding:0px;
}
tbody td, tbody th, tbody tr.odd th, tbody tr.odd td {
	border:1px solid;
	border-color:#567 #000 #000 #567;
}
td, th, table caption {
	padding:5px;
	vertical-align:top;
}
tfoot td, tfoot th, thead th {
	border:1px solid;
	border-color:#000 #567 #567 #000;
	font-weight:bold;
	white-space:nowrap;
	font-size:14px;
}

body { background-color: gray;}