/* Define colors, fonts and other style attributes here to override the defaults */

/* Page background color */
        body {
		color: #84B6E7;
		background-color: #6682B6;
		font-family: Arial, "Times New Roman", Times;
		font-size:small;
        }

        A:link {

		color: #000000
        }


        A:visited {
		color: #000000
        }

        td {
		color: #000000;
		background-color: #E7f3ff;
		font-family: Arial, "Times New Roman", Times;
		font-size:small;
		valign:top;
		

        }

        .code {
		color: #000000;
		font-family: "Courier New", Courier;
		background-color: #A4A4A4;
        }


	.smallwhite {
		font-family: Arial, "Times New Roman", Times;
		font-size:x-small;
		color: #F8F8F8;
	}

	.small {
		font-family: Arial, "Times New Roman", Times;
		font-size:x-small
	}

	.error {
		font-weight:bold;
		font-size:x-small;
		color:red;
		background-color:#E7f3ff;
	}

	.mb {
		color:yellow;
		background-color:green;
	}
	
	.rs {
		color:green;
		background-color:yellow;
	}

	.qc {
		color:white;
		background-color:gray;
	}

	.bl {
		color:white;
		background-color:black;
	}

	.sa {
		color:yellow;
		background-color:red;
	}

	.portlet_header{
		font-weight:bold;
		
	}

	.big {
		font-size:large
	}

        th {
		color:#E7f3ff;
		background-color: #1B5289;
	        font-family: Arial, "Times New Roman", Times;
            	font-size:small
	}
	
	table {
		align: "center";
	}
	 
	.Failure {
		font-weight:bold; color:purple;
	}
	
	.Properties {
		text-align:right;
	}

	on{
		align: "center"
		background-color: #111111;
	}
	
	:link img {
	  	border: none;
	}
	
	 select, textarea { 
	 	color:#1B5289;
   		background-color: #F9F7F9;
   		border:solid #DDDDDD
   	}

	 .dark{ 
	 	color:#1B5289;
   		background-color: #444C50;
   		border:solid #DDDDDD
   	}
   	
   	
   	// added fieldsets
   	 label
{
width: 4em;
float: left;
text-align: right;
margin-right: 0.5em
display: block
}

.submit input
{
margin-left: 4.5em;
}

fieldset
{
border: 1px solid #781351;
}

legend
{
color: #fff;
background: #1B5289;
border: 1px solid #781351;
padding: 2px 6px
}

.inFieldset{
width: 12em;
}